<!DOCTYPE html>
<html lang="es" ng-app="mookie">

<head>
    <meta charset="UTF-8">
    <title>AngularJs con RequiredJs Min. Template</title>
</head>

<body id="uno">
    <div style="background-color: green" ng-controller="headerController">
        <h1>{{data}}</h1>
        <ul>
            <li ng-repeat="header in headers">{{header.name}}</li>
        </ul>
    </div>

    <div style="background-color: yellow" ng-controller="customersController">
        <ul>
            <li ng-repeat="customer in customers" ng-click='detail(customer.id)'>{{customer.name}}</li>
        </ul>
    </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.js" data-main="js/main.js"></script>
</body>

</html>