<div ng-controllers="ShowOrderController">

    <h2>Customer #{{customer.id}}</h2>

    <p>Here are the details for customer <b>#{{customer.name}}</b>.</p>
    <p>{{customer.email}}</p>
    <p>{{customer.phone}}</p>
    <p>{{customer.username}}</p>
    <p>{{customer.website}}</p>

</div>