<h2>Show Orders</h2>
{{ message }}



<table class="table table-striped" ng-controllers="ShowOrdersController">
    <tbody>
        <tr ng-repeat="customer in customers">
            <td>{{customer.name}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.email}}</td>
            <td><a href="#ShowOrder/{{customer.id}}">show details</a>
            </td>
        </tr>        
    </tbody>
</table>